{% extends 'main/base.html' %}

{% block css %}
    {% load static %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}

{% block title %}
MyPage
{% endblock %}



{% block content %}
{% if user.is_authenticated %}
    <div class="profile-block">\
            {% if author.username == user.username %}
            <a href="{% url 'users:profile' user.username %}" class="profile-link">
                <div class="profile-image">
                {% if user.photo %}
                    <img class="profile-img" src="{{ author.photo.url }}" alt="Profile Image">
                {% else %}
                    <img class="profile-img" src="{{ default_image }}" alt="Default Profile Image">
                {% endif %}
            </div>
            </a>
            {% else %}
                <div class="profile-image">
                {% if author.photo %}
                    <img class="profile-img" src="{{ author.photo.url }}" alt="Profile Image">
                {% else %}
                    <img class="profile-img" src="{{ default_image }}" alt="Default Profile Image">
                {% endif %}
            </div>
                {% endif %}
            <div class="profile-info">
                <p class="text-block">{{ author.username }}</p>
                <p class="text-block">{{ author.first_name }} {{ author.last_name }}</p>
            </div>
        </div>
{% endif %}
{% for p in post %}
<div class="main-blocks">
    <div class="content-block">
        {% if p.main_picture %}
            <img class="img-block" src="{{ p.main_picture.url }}">
        {% endif %}
        <p class="text-block"><a href="{{ p.get_absolute_url }}">{{p.title}}</a></p>
        <div class="last-block">
            <p class="text-block">Опубликовано: {{ p.author.username }}</p>
            <p class="text-block">{{p.pub_date}}</p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block pagination %}
{% if page_obj.has_other_pages %}
<div class="pagination-container">
            <nav>
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span></a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span></a>
                    </li>
                    {% endif %}
                    {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                    <li class="page-item selected">
                        <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                    </li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span></a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span></a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
{% endif %}
{% endblock %}