{% extends 'main/base.html' %}

{% block css %}
    {% load static %}
<link rel="stylesheet" href="{% static 'main/css/addpage.css' %}">
{% endblock %}

{% block title %}
Reset Password
{% endblock %}


{% block content %}
<div class="main-blocks">
    <div class="content-block">
        <p class="text-auth">Востановить пароль</p>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            {{ form.as_p }}
            <p><button type="submit">Сбросить по Email</button></p>
        </form>
    </div>
</div>
{% endblock %}