body {
    font-family: 'comic sans ms', cursive;
    background-color: #151515;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black !important;
    background-color: #ffffff;
}

.nav-link{
    color: white !important;
}

.content-block {  
    display: flex;  
    flex-direction: block;  
    justify-content: center;
    margin: 50px 10% 0px 10%; /* top right bottom left */
    padding: 10px 10px 0px 10px; /* top right bottom left */
    border: solid;
    border-radius: 10px;
    position: relative; /* Для absolute positioning */
    min-height: 300PX; /* Задайте нужную высоту */
    font-size: 40px;
    background-color: #5d5d5d;
}

.text-block {
    color: white;
    flex-grow: 1;
    width: 500px;
    position: relative;
    word-wrap: break-word;
}

.img-block {
    width: 200px;  /* Фиксированная ширина для изображения */
    height: 200px; /* Фиксированная высота для изображения */
    border: 2px solid #000000;
    margin-right: 10px;
    border-radius: 10px;
}

.last-block {
    position: absolute;
    bottom: 0; /* Размещает элемент внизу */
    width: 100%;
    border-top: solid;
    flex-grow: 1;
    font-size: 20px;
    display: flex; /* Устанавливаем Flexbox */
    justify-content: space-between; /* Размещаем элементы по краям */
    padding: 5px 5px 0 5px; /* Добавим немного отступа, если нужно */
}

a {
    text-decoration: none;  /* Убирает подчеркивание */
    color: white;         /* Убирает изменение цвета, если оно задано для ссылок */
}

.nav-pills .nav-item {
    position: relative;
}

.dropdown-menu {
    display: none; /* Скрываем меню по умолчанию */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    border-radius: 5px;
    min-width: 150px;
    padding: 5px 0;
    list-style-type: none;
    margin: 0;
    z-index: 1000;
}

.dropdown-menu .dropdown-item {
    padding: 10px;
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #555;
}

/* Показать меню при наведении */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Добавить стили для самого пункта меню при наведении */
.dropdown:hover > .nav-link {
    background-color: #444;
    color: white;
}

.pagination-container {
    display: flex;
    justify-content: center;  /* Выравнивание по центру */
    align-items: center;      /* Выравнивание по вертикали */
    left: 0;
    right: 0;
    z-index: 9999;            /* Чтобы не перекрывалась другими элементами */
    margin-top: 20px;
}

.page-link {
    color: white;
    background-color: #5d5d5d;
    border: 1px solid #444;
    border-radius: 5px;
}

.page-item.active .page-link {
    background-color: #ffffff;
    color: black;
}

.page-link:hover {
    background-color: #444;
    color: white;
}

.page-link:focus {
    outline: none;  /* Убираем стандартную синюю обводку */
    border-color: #5d5d5d; /* Меняем цвет границы, если нужно */
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    border-radius: 50%;
}

.page-item.selected .page-link {
    background-color: #ffffff; /* Белый фон */
    color: black;              /* Черный текст */
    border: 1px solid #444;    /* Черная рамка */
}

/* Для hover-эффекта на кнопке с белым фоном */
.page-item.selected .page-link:hover {
    background-color: #f1f1f1; /* Светлый фон при наведении */
    color: black;              /* Черный текст при наведении */
}

.profile-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 50px 10% 0 10%; /* отступы сверху, справа, снизу, слева */
    padding: 10px;
    border: solid 1px #444;
    border-radius: 10px;
    background-color: #5d5d5d;
    min-height: 200px;
}

.profile-image {
    margin-right: 20px;
}

.profile-img {
    width: 150px;  /* Размер изображения профиля */
    height: 150px;
    border: 2px solid #000;
}

.profile-info {
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-block {
    margin: 5px 0;
}

.btn-logout {
    background-color: #444;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-logout:hover {
    background-color: #333;
}

.profile-link {
    text-decoration: none; /* Убирает подчеркивание у ссылки */
}