body {
    font-family: 'comic sans ms', cursive;
    background-color: #151515;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black !important;
    background-color: #ffffff;
}
.nav-link{
    color: white !important;
}

.content-block {  
    justify-content: center;
    margin: 50px 10% 0px 10%; /* top right bottom left */
    padding: 10px 10px 0px 10px; /* top right bottom left */
    border: solid;
    border-radius: 10px;
    position: relative; /* Для absolute positioning */
    min-height: 90px;
    width: 500px;
    font-size: 18px;
    background-color: #5d5d5d;
}

.text-block {
    color: white;
    flex-grow: 1;
    position: relative;
    word-wrap: break-word;
}

.img-block {
    width: 200px;  /* Фиксированная ширина для изображения */
    height: 200px; /* Фиксированная высота для изображения */
    border: 2px solid #000000;
    border-radius: 10px;
    float: left;
    margin-right: 20px;
}

.last-block {
    position: absolute;
    bottom: 0; /* Размещает элемент внизу */
    width: 100%;
    border-top: solid;
    flex-grow: 1;
    font-size: 20px;
    display: flex; /* Устанавливаем Flexbox */
    justify-content: space-between; /* Размещаем элементы по краям */
    padding: 5px 5px 0 5px; /* Добавим немного отступа, если нужно */
}
